<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.snt" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:networkSecurityConfig="@xml/network_security_config" android:label="SNT.Android" android:theme="@style/MainTheme" android:allowBackup="true" android:vmSafeMode="true" android:allowClearUserData="true" android:hardwareAccelerated="true"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>